*.o
*.lo
*.m4
config.*
.deps/
.libs/
libpng16*
Makefile
Makefile.in
autom4te.cache/
compile
configure
depcomp
install-sh
ltmain.sh
missing
test-driver
libpng.pc
libpng-config
libtool
stamp-h1
contrib/libtests/.dirstamp
contrib/tools/.dirstamp
libpng.vers
loongson-mmi/.dirstamp
mips/.dirstamp
png-fix-itxt
pngcp
pngfix
pngimage
pnglibconf.c
pnglibconf.h
pnglibconf.out
pngprefix.h
pngstest
pngtest
pngunknown
pngvalid
scripts/vers.out
timepng
